*{
    margin: 0px;
    padding: 0px;
}
.logo-docplanner{
    width: 600px;
    height:30px;
    padding: 12px;
    margin-left: 50px;
}
header{
    display: flex;
    justify-content:space-around;
    position: fixed;
    background-color: white;
    
 top:0px;
    width: 100vw;
}
header ul{
    display: flex;
    align-items: flex-end;

}
header ul li{
    list-style-type: none;
    padding: 8px;
}
.menu-item{
    text-decoration: none;
    color: #ababab;
}
.menu-item-about{
    color: #00b39b;
}
.menu-item:hover{
    color: #00b39b;
}
.lead__logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 60px;

}
main h1{
    text-align: center;
    color: #00b39b;
}
.intro-p{
 display: flex;
 justify-content: space-between;   
 margin: 150px;
 margin-bottom: 50px;
 margin-top: 50px;
 text-decoration: solid;
 color: #7e7e7e;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown{
    display:none;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-item-drop:hover + .dropdown{
    display: flex;

}
.dropdown:hover{
    display: flex;
}
.caché{
    list-style-type:none;
    align-content: flex-start;
}


.grid{
    display: flex;
    justify-content: space-around;
    padding: 20px ;
    margin: 30px;
    text-align:center;

}
.services__item{
color: white;
width:320px;
border-radius: 10px;
padding: 2em 2em 0;
overflow: hidden;
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.services__item--marketplace{
    background-color:#00b39b;
}
.services__item--saas{
    background-color: rgb(0, 153, 255);
}
.services__item--clinics{
    background-color: black;
}
.services h1{
    color: white;
}
.services h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.60em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button, select{
    text-transform: none;
    border: transparent;
    text-decoration: underline;
    padding-bottom: 10px;
    cursor:pointer;
}
button, input,optgroup,select,textarea{
    color:white;
    font: inherit;
    margin: 0;
    background: transparent;
}
.col-3 img{
    display: flex;
    justify-content: flex-start;
    margin-top: -5px;
}
.thirdclass{
    background-color: #5cd6b9;
}
.leftside h1{
    color: #088a69;
    display: block;
    text-align: start;
    padding-left: 50px;
    padding-top: 20px;
}
.leftside p{
    display:block;
    text-align: start;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.thirdclass img{
    display: block;
    height: 400px;
    width: 700px;
    border: none;
    
}
.fourthsection{
    background-color: white;
    display: block;
    justify-content: center;
    padding-top: 30px;
}
.fourthsection p{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

}
.boxes{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.boxes img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding-left: 15px;
}


.last{
background-color: white;
padding-top: 100px;
}
.last h3{
    display: block;
    text-align:center;
    font-size:x-large;
    margin-bottom: 50px;
}
.last button{
    color: rgb(245, 245, 250);
    background-color: rgb(57, 57, 215);
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
    
}

.fin{
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer{    
    border: 0.5px solid rgb(139, 148, 139);
    padding: 0.1px;
}
